/.env
/.vscode
/ml/data
/monitoring
/notebooks
/producer_checkpoint.txt
/.dockerignore
/airflow.cfg
/mlflow.db
/simple_auth_manager_passwords.json.generated
/mlruns
/plugins
/logs
/dags
/ml/models
/airflow_pipelene/logs
/airflow_pipeline/logs/dag_processor/2026-07-31/dags-folder/build_feedback_dataset_dag.py.log
/airflow_pipeline/logs/dag_processor/2026-07-31/dags-folder/fraud_retraining_dag.py.log
/debezium-local-postgres.json

