apache-airflow

fastapi
uvicorn

sqlalchemy
pyodbc

pandas
numpy

scikit-learn
xgboost
lightgbm
imbalanced-learn

joblib

kafka-python

python-dotenv

pydantic

alembic

prometheus-client

mlflow

great-expectations

requests

matplotlib
seaborn

pytest

gunicorn
