
fastapi
uvicorn

pandas
numpy

scikit-learn
xgboost
lightgbm
imbalanced-learn

joblib

kafka-python

python-dotenv

pydantic
pyarrow

psycopg2-binary

alembic

prometheus_client


great_expectations

requests

matplotlib
seaborn

pytest

gunicorn
