fastapi
uvicorn
pandas
numpy
scikit-learn
lightgbm
joblib
pyarrow
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
python-dotenv
fastapi-mail==1.4.1
pydantic[email]==2.7.4
# --- AI & Core Agent Layer ---
openai>=1.0.0
langchain>=0.3.0
langchain-openai>=0.2.0
langgraph>=0.2.0





#pip install python-jose[cryptography] passlib[bcrypt] python-multipart
